*{  
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: 0;
    border: 0;

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
    text-size-adjust: 200px;  

}
ul{
    display: flex; 
    gap: 20px;
}
h1{
    padding: 10px 80px   ;
}
h2{
    padding: 0px 30px;
}
div{
   
   
    margin-left: 200px;
    


}
input{
height: 50px;
width: 250px;
display: inline;
text-align: center;
border-radius: 8px;
}


.select{
    height: 50px;
    width: 250px;
     display: inline;
    text-align: center;
    border-radius: 8px;

}
button{
    height: 50px;
    width: 250px;
    display: inline;
    text-align: center;
    border-radius: 8px;
    

}
p{
    padding: 10px 80px;
}

image{
    width: 150px;
    height: 150px;
    max-width: 200px;
    max-height: 150px;
  background-image: url("Rabat\ -1_0.jpg");
  background-repeat: no-repeat;
}

body{
    background-image: url(../Rabat\ -1_0.jpg);
    background-size: cover;
}
.test1{
    color: azure;
    background-color: peru;
    
}
.test2{
    color: aliceblue;
    background-color: darkkhaki;
    background-size: 55px;
}
.final{
    color: cornflowerblue;
    margin: 30px;
    padding: 40px;
}
.blank{
    color: aliceblue;
    margin-left: 100px;
    margin-top: 0;
}

.final input{
    height: 50px;
}